{% extends 'base.html' %}

{% block content %}
<!--Carousel Wrapper-->
<div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
    <h3>{{ post.title}}</h3>
    <ul class="list-group">
      {% for p in photos %}
      <li class="list-group-item"><img src="{{p.images.url}}" height="75" >
      <a href="{% url 'delete_image' p.id %}">Delete</a></li>
      {% endfor %}
    </ul>

    <input type="file" multiple>

<a href='{% url "blog" %}'>
    <button type="button" class="btn btn-primary mt-4">Back</button>
</a>
<button type="button" id="saveBtn" class="btn btn-primary mt-4">Update</button>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var files = []
        FilePond.registerPlugin(FilePondPluginFileValidateSize);
        FilePond.registerPlugin(FilePondPluginFileValidateType);
        FilePond.setOptions({
            allowMultiple:true,
            maxFiles:4,
            maxFileSize: '3MB'
        })
        const inputElement = document.querySelector('input[type="file"]');
        const pond = FilePond.create( inputElement, {
            acceptedFileTypes:['image/png', 'image/jpeg'],
            onaddfile: (err, fileItem) => {
                if (!err) {
                files.push(fileItem.file)
                }
                console.log(files)
            },
            onremovefile: (err, fileItem) => {
                const index = files.indexOf(fileItem.file)
                if (index > -1) {
                    files.splice(index, 1)
                }
                console.log(files)
            }
        } );

        var formData = new FormData();
        $(document).on('click', '#saveBtn', function(e) {
            formData.append('length', files.length)
            formData.append('title', $('#title').val())
            formData.append('description', $('#description').val())
            for (var i = 0; i < files.length; i++) {
                formData.append('images' + i, files[i])
            }
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
            formData.append('post_id', '{{ post.id }}')

            $.ajax({
                type: 'POST',
                url: '{% url "update-post" %}',
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                enctype: 'multipart/form-data',
                success: function (){
                    alert('The gallry has been updated!')
                    window.location.reload()
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ":" + xhr.responseText)
                }
            })
        })
    })
</script>

    
   
    <!--/.Controls-->
  </div>

  {% endblock %}